.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

rx-collapse {
  display: block;
}
rx-metadata rx-collapse .rs-detail-section-body {
  margin: 0;
  padding: 0;
}
rx-metadata rx-collapse .rs-facet-section-toggle {
  margin-left: 60px;
}

.rxRadio {
  display: inline-block;
}
.rxRadio + label {
  display: inline-block;
  padding-left: 6px;
}

[rx-form],
rx-form-section,
rx-field,
rx-field-name,
rx-field-content,
rx-input {
  display: block;
}
rx-form-section {
  margin-bottom: 10px;
  clear: left;
}
rx-field-name {
  margin-bottom: 10px;
  float: left;
  margin-top: 2px;
  width: 160px;
}
rx-field-content {
  margin-left: 180px;
}
rx-input label {
  display: inline-block;
  padding-left: 6px;
}
rx-help-text {
  color: #666666;
  display: block;
}
.rxCheckbox {
  display: inline-block;
}

[rx-status-column] {
  padding: 0;
  width: 10px;
}
[rx-status-column].status-ACTIVE {
  background-color: #00a96d !important;
}
[rx-status-column].status-WARNING {
  background-color: #ff9d00 !important;
}
[rx-status-column].status-ERROR {
  background-color: #c40022 !important;
}
[rx-status-column].status-INFO {
  background-color: #00a96d !important;
}
[rx-status-column].status-PENDING {
  background-color: #ff9d00 !important;
  background-image: url(table-status-warning.gif);
}
[rx-status-column].status-DISABLED {
  background-color: #ccc;
}
.rx-status-header {
  padding: 0;
  width: 10px;
}

rx-metadata {
  margin: 0;
  padding: 0;
  list-style: none;
}
rx-metadata rx-meta {
  display: block;
  margin: 0 0 10px;
  zoom: 1;
}
rx-metadata rx-meta .label {
  clear: left;
  float: left;
  color: #999;
  text-align: right;
  width: 120px;
}
rx-metadata rx-meta .definition {
  margin-left: 140px;
}
rx-metadata rx-meta.force-word-break {
  word-break: break-all;
}

.rs-dropdown > .visible > .rs-dropdown-menu {
  display: block;
}
